@font-face {font-family: "Acumin Variable Concept"; src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot"); src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff") format("woff"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept") format("svg"); }

.cart-container{
    display: none;
    font-family: "Acumin Variable Concept";
    position: fixed;
    width: 100%;
    right:0;
    top:0;
    padding-top: 0;
    min-width: 320px;
    height: 500px;
    z-index: 6;
    overflow-y: scroll;
}
@media (min-width: 768px){
    .cart-container{
        width: 45%;
    }
}

.cart-container__item-img {
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-container__item {
    width: 100%;
    display: flex;
    border-bottom: 0.5px solid black;

}
.cart-container__inner {
    border: 0.5px solid gray;
    background-color: white;
}
.cart-container__total{
   font-weight: bold;
   font-size: 20px;
   text-align: end;
   padding: 10px;
}
.cart-container__caption-inner {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.header-scroll > .header__icon-container > .active path{
    stroke: rgb(0, 0, 0);
}

.active path{
    fill: rgb(255, 121, 121);
    stroke: white;
}
.close-cart-btn {
    width: 100%;
    text-align: end;
    padding: 20px 20px;
}

.shop-item__btn--active {
    border-right: 1.5px solid black;
}
