html, body {
    position: relative;
    height: 100%;
}
a:hover, button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: var(--main-font);
    font-size: 14px;
    max-height: 100vh;
    color:#000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.aside {
    position: fixed;
    z-index: 3;
}
.container{
 top: 100px;
 position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: auto;
}
.swiper-container {
    width: 100%;
    height: calc(100% - 100px);
}

.swiper-slide {
    opacity: 0;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.swiper-slide-active{
    opacity: 1;
}
.swiper-button-prev, .swiper-button-next {
    z-index: 2;
}
.header {
    border: none;
    position: absolute;
    color: black;
}
.header__link {
    color: black;
}
.discount-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.discount-item__img {
    max-width: 200px;
    height: auto;
}


  .discount-item {
    margin-bottom: 50px;
  }
.discount-item__title {
    font-size: 50px;
    letter-spacing: 5px;
}
.discount-item__caption {
    font-size: 18px;
}
.swiper-slide .discount-item__img {
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0;
}
.swiper-slide-active .discount-item__img {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.discount-item__price {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.discount-item__card {
    min-width: 300px;
    margin-bottom: 20px;
    max-width: 100%;
}
.sold-out {
    color: gray;
}
.sold-out .discount-item__img {
    -webkit-filter: grayscale(0.5);
            filter: grayscale(0.5);
}

.discount-item__price--old {
    font-size: 30px;
    text-decoration: line-through;
    margin-right: 15px;
    color: var(--deep-red);
}

.discount-item__price--new {
    font-size: 40px;
   
}
.header svg path {
    stroke: red;
}
.discount-item__link {
    width: 100px;
    font-family: var(--strict-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.link-decor {
    margin-right: 7px;
    font-size: 10px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.discount-item__caption {
    letter-spacing: 3px;
}



.discount-item__price--old > .sale-count {
    display: inline-block;
    font-size: 22px;
    margin-left: 4px;
    color: var(--deep-red);
    font-weight: 700;
    font-family: var(--strict-font);
}

@media (min-width:768px) {
    .discount-item__img {
        height: auto;
        min-width: 300px;
    }
    
    .swiper-container {
        margin-top: 100px;
        height: calc(100% - 100px);
    }
    .discount-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 0;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}


@media (min-width:1120px) {
    .discount-item__img {
        height: auto;
        min-width: 500px;
    }
    .discount-item__caption {
       font-size: 2em;
    }
    .discount-item__title {
        font-size: 4em;
    }

}
.swiper-button-prev::after {
    content: "";
}
.swiper-button-next::after {
    content: "";
}
.swiper-button-next {
    overflow-x: hidden;
    position: absolute;
     right: 0;
     background-image: url('../style/Img/interface/swiperbtn.svg');
     width: 40px;
     background-size: cover;
     background-position: center;
     height: 40px;
}
.swiper-button-prev {
   overflow-x: hidden;
   position: absolute;
    left: 0;
    background-image: url('../style/Img/interface/swiperbtn.svg');
    width: 40px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background-size: cover;
    background-position: center;
    height: 40px;
}
@media (max-width: 767px) {
    .discount-item__link {
        margin-left: 20px;
    }
}
.ticker{
    height: 20px;
    width:100%;
    position: fixed;
    z-index: 4;
    bottom: 0px;
    background: transparent;
    background-color: var(--deep-red);
  }
.ticker__line {
    color:white;
    padding: 2px;
    font-family: var(--main-font);
    text-align:center;
    font-weight: 700;
    text-transform: uppercase;
    font-style: bold ;
    -webkit-animation: text 6s infinite linear;
            animation: text 6s infinite linear;
    padding-left: 100%;
    letter-spacing: 10px;
    white-space: nowrap;
}
  @-webkit-keyframes text {
    0%{
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    } 
    100%{
      -webkit-transform: translate(-160%, 0);
              transform: translate(-160%, 0);
    }
  }
  @keyframes text {
    0%{
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    } 
    100%{
      -webkit-transform: translate(-160%, 0);
              transform: translate(-160%, 0);
    }
  }