.shop-item { 	
    font-family: var(--strict-font);
    display: inline-block;
    align-items: flex-start;
    position: relative;
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 50px;
    font-weight: 400;
    }
.shop-item__img {
    background-position:center center;
    background-size:cover;
    width: 200px;
    height: 250px;
   
}
.shop-item__price {
    font-weight:400;
    margin-top: 10px;
    font-size: large;
}
.shop-item__btn {
    text-align: right;
   border-top: 1px white;
   border-left: 1px white;
    width: 100%;
   margin-bottom: 5px;
    background-color: white;
}
.shop-item__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.shop-item__name {
  position: relative;

    margin-top: 10px;
}

.shop-item__btn {
    font-size: 12px;
    padding: 8px;
    border-right: 1px solid black;
  }
  .shop-item__btn--active {
    font-weight: 700;
  }

  .shop-item__new-price, .shop-item__old-price {
    margin-top: 0;
  }
  .shop-item__sale {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .shop-item__old-price {
    text-decoration: line-through;
  }
  .shop-item__new-price {
   color: var(--deep-red);
  }
  .shop-item__new-price {
    font-size: 18px;
    margin-left: 8px;
  }

  .shop-item {
    margin: 0;
    width: 220px;
    height: 360px;
  }
 
 
  .shop-item__img {
   
    border-radius: 5px;
  }
  .shop-item {
    padding: 10px;
     
  }
  .shop-inner-text:hover {
    cursor: pointer;
}
.shop-inner-text {
    z-index: 2;
    font-size: 20px;
    width: 45px;
    height: 45px;
    font-weight: 900;
    top: 7%;
    left: 10%;
    position: absolute;
    color: white;
    background-size: 45px;
    background-repeat: no-repeat;
    background-image: url('../style/Img/interface/plus-gray-theme.svg');
}

  .shop-item--active {
    z-index: 2;
    font-size: 20px;
    opacity: 0.7;
    font-weight: 900;
    width: 45px;
    height: 45px;
    top: 7%;
    left: 10%;
    position: absolute;
    color: white;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url('../style/Img/interface/minus.svg');
  }
  
.wrapper-shop {

  width: 100%;
  display: flex;
  justify-content: center;
}
  .item-container {
    width: 90%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-template-rows:repeat(auto-fill,340px);
    gap: 20px;
  }
  @media (max-width:777px){
    .item-container {
        grid-template-columns: repeat(auto-fill, 220px);
        grid-template-rows:repeat(auto-fit,340px);
        gap: 20px;
      }
  }

  .shop-inner-text:hover,  .shop-inner-text:focus {
    opacity: 1;
  }

.shop-item:hover > .shop-item__img {
    filter: brightness(0.8);
    overflow: hidden;
    background-repeat: no-repeat;
   
}

.shop-item--active + .shop-item__img {
    filter: brightness(0.8);
}
@media (hover: none) and (pointer: coarse) {
    .shop-item:focus .shop-inner-text:not(.shop-item--active) + .shop-item__img,
    .shop-item:hover .shop-inner-text:not(.shop-item--active) + .shop-item__img {
        filter: none;
    } 
    .shop-item:focus .shop-item--active + .shop-item__img,
    .shop-item:hover .shop-item--active+ .shop-item__img
     {
        filter: brightness(0.8);
    }

 .shop-item > .shop-item--active + .shop-item__img {
        filter: brightness(0.8);
      
    }
}
[data-aviable='false'] .shop-item__img{
  position: relative;
  filter: grayscale(1) brightness(0.5);
}
[data-aviable='false']:hover .shop-item__img{
  filter: grayscale(1) brightness(0.5);
}
[data-aviable='false']::after{
  position: absolute;
  width: 130px;
  font-size: 20px;
  display: inline-block;
  color: red;
  content: "sold out";
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--strict-font);
  top: 35%;
  left: 21%;
}
