@import url(fonts.css);

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
 }

 body {
    background-color: #F2F2F2;
 }

 a:hover, button:hover {
    cursor: pointer;
 }
 .brands-menu {
    font-family: 'TT Lakes';
}

.brands-menu__nav {
    width: 100%;
 }

 .swiper-pagination-bullet {
    background-color: #9d9d9d;
    width: 12px;
    height: 12px; 
 }

 .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.brands-menu__item{
    position: relative;
}
.brands-menu__item-logo {
    margin-left: 16px;
}
 .brands-menu__item::after {
    content: "";
    position: absolute;
    width: 40px;
    height:40px;
    top: 16px;
    right: 16px;
    z-index: 2;
    background-image: url('./logo-pics/go.svg');
}
.brands-menu__title {
    font-weight: 400;
    padding: 16px;
    letter-spacing: -0.2px;
    height: 80px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
    background-image: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

.brands-menu__nav--advanced {
    display: none;
}

@media(min-width:758px){
    .brands-menu__title {
    height: 56px;
    }
}
.brands-menu__item {
    min-width: 224px;
    width: 240px;
    position: relative;
    display: flex;
    height: 72px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #EAEAEA;
    background-color: white;
    border-radius: 6px;
 }
 .brands-menu__btn-more {
    width: 200px;
    display: none;
    background: transparent;
    border: none;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; 
}
.btn-more__img {
    width: 24px;
    height: 24px;
}
.btn-more__caption {
    margin-left:8px;
}
@media (hover: none) and (pointer: coarse) {
    .brands-menu__nav{
        padding: 16px;
     }
     .brands-menu__nav--advanced, .brands-menu__btn-more {
         display:none;
     }
     .swiper {
         min-width: 320px;
         min-height: 134px;
     }
     .swiper::before {
         content: '';
         position: absolute;
         width: 20px;
         height: 72px;
         background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
         top: 16px;
         right: 0;
         z-index: 2;
     }
 }
 
  @media (min-width:1120px) {
     .brands-menu__nav--advanced--open {
        height: auto;
     }
 }
 

 @media (min-width:768px) {
    .swiper {
        display: none;
    }
     .brands-menu__nav--advanced {
        display: initial;
    }
    .brands-menu__btn-more {
        display: flex;
    }
    .brands-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brands-menu__item{
        width: 224px;
    }
    .inner-container {
        width: calc(100% - 24px * 2);
    }
    .brands-menu__nav--advanced {
         height: calc(72px*2 + 24px + 16px * 2);
         display: grid;
         grid-template-columns: repeat(auto-fit, 220px);
         grid-auto-rows: 72px;
         overflow: hidden;
         padding: 24px 0;
         grid-template-columns: repeat(auto-fit, 220px);
         column-gap: 24px;
         row-gap: 16px;
     }
     .brands-menu__nav--advanced--open {
         height: auto;
     }
 }

@media (min-width:1120px){
    .inner-container {
        width: calc(100% - 32px * 2);
    }
    .brands-menu__item {
        width: 240px;
    }
    .brands-menu__nav{
        padding: 24px 0;
        grid-template-columns: repeat(auto-fill, 240px);
        column-gap: 32px;
        row-gap: 16px;
    }
    .brands-menu__nav--advanced {
        height: calc(72px * 2 + 24px + 16px * 2);
    }
    .brands-menu__nav--advanced--open {
        height: auto;
    }

}


